NODE_ENV="development"

APPLICATION_PORT=4000
APPLICATION_URL="Application URL"
ALLOWED_ORIGIN="Allowed origin"

COOKIES_SECRET="secret"
SESSION_SECRET="secret"
SESSION_NAME="session"
SESSION_DOMAIN="localhost"
SESSION_MAX_AGE="30d"
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER="sessions:"

POSTGRES_USER="Postgres username"
POSTGRES_PASSWORD="Postgres password"
POSTGRES_HOST="Postgres host"
POSTGRES_PORT=5433
POSTGRES_DB="Postgres database"
POSTGRES_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

MAIL_HOST="Mail host"
MAIL_PORT="Mail port"
MAIL_LOGIN="Mail login"
MAIL_PASS="Mail password"

REDIS_USER="Redis user"
REDIS_PASSWORD="Redis password"
REDIS_HOST="Redis host"
REDIS_PORT=6379
REDIS_URI="redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"

GOOGLE_RECAPTCHA_SECRET_KEY="Google recaptcha secret key"
GOOGLE_CLIENT_ID="Google client id"
GOOGLE_CLIENT_SECRET="Google client secret"